.card {
    width: 20vw;
    height: 35vh;
    background: white;
    transition: box-shadow .3s ease, transform .2s ease;
}

.card ul{
    list-style-type: none;
    padding: 0;
  
}

.card li{
    display: inline-block;
    margin-right: 20px; /* Espaço entre os itens */
}


.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;

}


/*Image*/
.card-avatar {
    --size: 10vw;
    background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
    width: 100%;
    height: var(--size);
    border-radius: 0%;
    transition: transform .2s ease;
 

}

.card-avatar img {
    width: 20vw;
    height: 100%;
   

}


/*Card footer*/
.card-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
    text-align: center;
    align-items: center;
    margin-left: 1%;
    
}


.card-social__item span{
    color: #255475;
    font-size: 1vw;
    font-weight: bold;

    
  }

.card-social__item {
    list-style: none;
    
 
}



/*Text*/
.card-title {
    color: #333;
    font-size: 1.5vw;
    font-weight: 600;
    line-height: 2rvw;
    margin-top: 1%;
}

.card-subtitle {
    color: #859ba8;
    font-size: 0.8vw;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: justify;

}

/*Hover*/
.card:hover {
    box-shadow: 0 1vw 2vw #23232333;
}

.card:hover .card-info {
    transform: translateY(-5%);
}

.card:hover .card-social {
    transform: translateY(0%);
    opacity: 1;
    margin-top: 0%;
}

.card-social__item span:hover {
    fill: #232323;
    transform: scale(1.1);
}

